BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
TabWidth: 4
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Right
IncludeBlocks: Merge
# InsertNewlineAtEOF: true
